span{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
:hover span{
    overflow: visible;
}
.com-input{
    height: 120px;
}
.container {
    margin-bottom: 50px ;
}
.com-body {
    overflow-wrap: break-word;
}