<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
        <div class="navbar-brand" >
            SampleBlog
        </div>
        <ul class="nav navbar-nav">
            <li [routerLink]="['']"><a>Main</a></li>
            <li [routerLink]="['/personal_page/' + loginedUser.username + '/1']" *ngIf="loginedUser && loadFlag"><a>My Blog</a></li>
            <li [routerLink]="['/create_article']" *ngIf="loginedUser && loadFlag"><a>Create Article</a></li>
        </ul>
            <div class="col-sm-4"> <app-search></app-search></div>
            <div class="col-md-5" *ngIf="loadFlag"><app-login-form></app-login-form></div>
        </div>
    </div>
</nav>